<div class="container">

  <div ng-include="'app/components/navbar/navbar.html'"></div>

  <table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>IMSI</th>
        <th>Status</th>
        <th>Ready</th>
        <th>Card Address</th>
      </tr>
    </thead>
    <tbody>
       <tr ng-repeat="sim_card in sim_cards | orderBy:'id'"
           ng-class="{'danger': !sim_card.ready, 'warning': sim_card.ready && sim_card.status != 'free'}"
           ng-click="show_sim_card(sim_card)">
        <td>{{sim_card.id}}</td>
        <td>{{sim_card.imsi}}</td>
        <td>{{sim_card.status}}</td>
        <td>{{sim_card.ready}}</td>
        <td>{{sim_card.card_addr}}</td>
      </tr>
    </tbody>
  </table>

</div>
